body {
    font-family: "Chakra Petch",'Open Sans', sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    background-color: #0c0c22;
  }
  
  .swim-lanes {
    min-height: 60vh;
  }
  
  .task-card {
    margin: 0 auto;
    cursor: grab;
    font-family: "Sedan SC", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
  }
  
  .task-card:hover {
    cursor: grab;
  }

  .dragging {
    z-index: 10000 !important;
  }

  .lane.over {
    border: 2px dashed #000;
  }

  /*gives color class of gold for due soon assignments, connected to day.js in javascript*/
  .due-soon {
    background-color: gold;
    color: white;
    border-radius: 20%;
  }

  /*gives color class of red for due today or past due assignments, connected to day.js in javascript*/
  .due-today,
  .overdue {
    background-color: red;
    color: white;
    border-radius: 20%;
  }

  .card {
    border-radius: 20%;
    border: solid;
  }


  .header-base {
    background-color: rgb(245, 227, 205);
    font-weight: bold;
    color: black;
  }

  .lead {
    color: white;
  }
  
  h5 {
    text-decoration: underline;
    font-size: 30px;
  }

  h1 {
    font-family: "Permanent Marker", cursive;
    font-weight: 400;
    font-style: normal;
    color: white;
  }

  h2 {
    font-family: "Permanent Marker", cursive;
    font-weight: 400;
    font-style: normal;
    color: black;
  }
  

  
  
  