body {
    font-family: "Chakra Petch",'Open Sans', sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
  }
  
  .swim-lanes {
    min-height: 60vh;
  }
  
  .task-card {
    margin: 0 auto;
  }
  
  .task-card:hover {
    cursor: grab;
  }

  .task-card {
    cursor: grab;
  }

  #project-form {
    font-family: "Permanent Marker", cursive;
    font-weight: 400;
    font-style: normal;
  }

  
  